<div>
  <h1>Board Games</h1>
  <ul *ngIf="boardGames && boardGames.length > 0">
    <li
      *ngFor="let game of boardGames"
      [attr.data-cy]='"board-game-" + game.id'
    >
      <h2>{{ game.name }}</h2>
      <p>Minimum Players: {{ game.min_players }}</p>
      <p>Maximum Players: {{ game.max_players }}</p>
      <p>Average Game Time: {{ game.avg_game_time }}</p>
      <p>Barcode: {{ game.barcode }}</p>
    </li>
  </ul>
  <p
    [attr.data-cy]='"no-games-message"'
    *ngIf="boardGames && boardGames.length === 0"
  >No board games found.</p>
</div>
