<div class="charts">
  <div class="chart">
    <h3>Widget A</h3>
    <app-cool-chart [actualValue]="data.widgetA.actual" [goalValue]="data.widgetA.goal"></app-cool-chart>
  </div>
  <div class="chart">
    <h3>Widget B</h3>
    <app-cool-chart [actualValue]="data.widgetB.actual" [goalValue]="data.widgetB.goal"></app-cool-chart>
  </div>
  <div class="chart">
    <h3>Widget C</h3>
    <app-cool-chart [actualValue]="data.widgetC.actual" [goalValue]="data.widgetC.goal"></app-cool-chart>
  </div>
</div>
